<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
<!-- <listeners>
	<listener class-name="SeleniumScripts.Listners"></listener>
</listeners> -->
	<test name="Test1">
		<parameter name="browser" value="firefox" />
		<classes>
			<!-- <class name="com.code.svn.EasyTestSuite" />  -->
			<class name="SeleniumScripts.EasyTestSuite" />
		</classes>
	</test>  
	<!-- 
	<test name="Test2">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.code.svn.EasyTestSuite" />
		</classes>
	</test>  -->
</suite>